.homeImg {
  overflow: visible;
  min-height: auto;
  min-width: auto;
  width: 50%;
  height: 1286px;
  z-index: 0;
  position: absolute;
  display: block;
  visibility: visible;
  right: 0px;
  top: 0px;
  clip-path: polygon(0 0, 80% 0, 70% 50%, 80% 100%, 0 100%);
}
.teste {
}