.homeImg {
  overflow: visible;
  min-height: auto;
  min-width: auto;
  width: 50%;
  height: 100vh;
  z-index: 0;
  position: absolute;
  display: block;
  visibility: visible;
  right: 0px;
  top: 0px;
  clip-path: polygon(50% 0, 100% 0, 100% 0%, 100% 100%, 0 100%);
}

.text {
  width: 50%;
  font-size: large;
  font-weight: bold;
  text-transform:uppercase;
}