.center {
  justify-content: center;
}

.flex-s {
  justify-content: flex-start;
}

.flex-e {
  justify-content: flex-end;
}

.space-b {
  justify-content: space-between;
}

.space-e {
  justify-content: space-evenly;
}

.space-a {
  justify-content: space-around;
}

